In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./wypadki.csv", low_memory=False) #wczytanie danych

In [3]:
#Zmieniamy nazwy kolum dla Å‚atwiejszego pisania kodu 
df.rename(columns={'ACCIDENT DATE': 'date', 'ACCIDENT TIME': 'time', 'BOROUGH': 'borough', 'ZIP CODE':'zip_code', 'LATITUDE':'latitude',
                  'LONGITUDE':'longitude','LOCATION':'location','ON STREET NAME':'on_street',
                  'CROSS STREET NAME': 'cross_street', 'OFF STREET NAME':'off_street',
                  'NUMBER OF PERSONS INJURED':'num_persons_injured', 'NUMBER OF PERSONS KILLED':'num_persons_killed',
                  'NUMBER OF PEDESTRIANS INJURED':'num_pedestrians_injured',
                   'NUMBER OF PEDESTRIANS KILLED':'num_pedestrians_killed', 
                   'NUMBER OF CYCLIST INJURED':'num_cyclist_injured',
                   'NUMBER OF CYCLIST KILLED' : 'num_cyclist_killed',
                   'NUMBER OF MOTORIST INJURED':'num_motorist_injured',
                   'NUMBER OF MOTORIST KILLED': 'num_motorist_killed',
                   'CONTRIBUTING FACTOR VEHICLE 1':'contributing_factor_vehicle_1',
                   'CONTRIBUTING FACTOR VEHICLE 2':'contributing_factor_vehicle_2',
                   'CONTRIBUTING FACTOR VEHICLE 3':'contributing_factor_vehicle_3',
                   'CONTRIBUTING FACTOR VEHICLE 4':'contributing_factor_vehicle_4',
                   'CONTRIBUTING FACTOR VEHICLE 5':'contributing_factor_vehicle_5',
                   'COLLISION_ID':'collison_id',
                   'VEHICLE TYPE CODE 1':'vehicle_type_code_1',
                   'VEHICLE TYPE CODE 2':'vehicle_type_code_2',
                   'VEHICLE TYPE CODE 3':'vehicle_type_code_3',
                   'VEHICLE TYPE CODE 4':'vehicle_type_code_4',
                   'VEHICLE TYPE CODE 5':'vehicle_type_code_5'
                  }, inplace=True)
df.head()

,date,time,borough,zip_code,latitude,longitude,location,on_street,cross_street,off_street,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collison_id,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2019-08-05T00:00:00.000,16:30,QUEENS,11434,40.676052,-73.790184,"{'type': 'Point', 'coordinates': [-73.790184, ...",NaN,NaN,150-08 123 AVENUE,...,Unspecified,NaN,NaN,NaN,4184637,Sedan,Pick-up Truck,NaN,NaN,NaN
1,2019-08-27T00:00:00.000,16:02,BROOKLYN,11225,40.657780,-73.951096,"{'type': 'Point', 'coordinates': [-73.951096, ...",NaN,NaN,288 HAWTHORNE STREET,...,Unspecified,NaN,NaN,NaN,4195773,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,2019-08-15T00:00:00.000,17:57,MANHATTAN,10002,40.718143,-73.993835,"{'type': 'Point', 'coordinates': [-73.993835, ...",CHRYSTIE STREET,GRAND STREET,NaN,...,NaN,NaN,NaN,NaN,4202457,Sedan,NaN,NaN,NaN,NaN
3,2019-08-30T00:00:00.000,21:53,BRONX,10460,40.840534,-73.866610,"{'type': 'Point', 'coordinates': [-73.86661, 4...",NaN,NaN,1837 EAST TREMONT AVENUE,...,Unspecified,NaN,NaN,NaN,4198749,Taxi,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,2019-08-06T00:00:00.000,9:45,MANHATTAN,10016,40.745440,-73.975400,"{'type': 'Point', 'coordinates': [-73.9754, 40...",EAST 35 STREET,2 AVENUE,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4183798,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN

In [4]:
df.head(10) #Sprawdzenie 10 pierwszych wierszy
df.shape #Sprawdzenie dokÅ‚adnej iloÅ›ci wierszy i kolumn

(1612178, 29)

In [5]:
df.isnull().any() #Sprawdzenie w ilu komlumnach mamy "null"

date                             False
time                             False
borough                           True
zip_code                          True
latitude                          True
longitude                         True
location                          True
on_street                         True
cross_street                      True
off_street                        True
num_persons_injured               True
num_persons_killed                True
num_pedestrians_injured          False
num_pedestrians_killed           False
num_cyclist_injured              False
num_cyclist_killed               False
num_motorist_injured             False
num_motorist_killed              False
contributing_factor_vehicle_1     True
contributing_factor_vehicle_2     True
contributing_factor_vehicle_3     True
contributing_factor_vehicle_4     True
contributing_factor_vehicle_5     True
collison_id                      False
vehicle_type_code_1               True
vehicle_type_code_2               True
vehicle_type_code_3               True
vehicle_type_code_4               True
vehicle_type_code_5               True
dtype: bool

In [6]:
#ÅºrÃ³dÅ‚o: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html
#usuwamy wiersze, ktore maja "null"
df.dropna(subset=['location'],inplace=True)
df.reset_index(drop=True, inplace=True)
df.isnull().any()

date                             False
time                             False
borough                           True
zip_code                          True
latitude                         False
longitude                        False
location                         False
on_street                         True
cross_street                      True
off_street                        True
num_persons_injured               True
num_persons_killed                True
num_pedestrians_injured          False
num_pedestrians_killed           False
num_cyclist_injured              False
num_cyclist_killed               False
num_motorist_injured             False
num_motorist_killed              False
contributing_factor_vehicle_1     True
contributing_factor_vehicle_2     True
contributing_factor_vehicle_3     True
contributing_factor_vehicle_4     True
contributing_factor_vehicle_5     True
collison_id                      False
vehicle_type_code_1               True
vehicle_type_code_2               True
vehicle_type_code_3               True
vehicle_type_code_4               True
vehicle_type_code_5               True
dtype: bool

In [7]:
#Å¹rÃ³dÅ‚o: https://uszipcode.readthedocs.io/uszipcode/search.html
#Potrzebujemy jeszcze pozamieniac wartosci w kolumnie "borough" i "zip_code"
from uszipcode import SearchEngine 
search = SearchEngine()
result = search.by_coordinates(df.latitude[6],df.longitude[6])
result[0]

/home/student/.local/lib/python3.10/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

SimpleZipcode(zipcode='11434', zipcode_type='STANDARD', major_city='Jamaica', post_office_city='Jamaica, NY', common_city_list=['Jamaica', 'Addisleigh Park', 'Addisleigh Pk', 'Rochdale...'], county='Queens County', state='NY', lat=40.68, lng=-73.78, timezone='America/New_York', radius_in_miles=2.0, area_code_list='516,718', population=59129, population_density=18256.0, land_area_in_sqmi=3.24, water_area_in_sqmi=0.07, housing_units=21681, occupied_housing_units=20244, median_home_value=371900, median_household_income=59229, bounds_west=-73.801898, bounds_east=-73.75797, bounds_north=40.69665, bounds_south=40.65616)

In [8]:
print(result[4].zipcode)
print(result[4].major_city)

11413
Springfield Gardens

In [9]:
#dana funcja zipcityfinder, ktÃ³ra dziÄ™ki argumentom lat i lon zwraca nam kod pocztowy i miasto podanych wspÃ³Å‚rzÄ™dnych
def WyszukiwaczMiastaIKodu(lat, lon): 
    search = SearchEngine()
    result = search.by_coordinates(lat, lon)
    return(result[0].zipcode, result[0].major_city)

In [10]:
for size in range(len(df[:100])):  #stepping through 100 rows
    
    if pd.isnull(df.zip_code[size]) or pd.isnull(df.borough[size]): #Sprawdza, czy wartoÅ›Ä‡ w kolumnie zip_code lub borough jest pusta (NaN) dla danego indeksu size.
        l1,l2=df.latitude[size],df.longitude[size] #JeÅ›li tak, to pobiera wartoÅ›ci latitude i longitude dla tego samego indeksu size.
        z,c=WyszukiwaczMiastaIKodu(l1,l2) #WywoÅ‚uje funkcjÄ™ WyszukiwaczMiastaIKodu z tymi wspÃ³Å‚rzÄ™dnymi geograficznymi jako argumentami.
        df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
        df.borough[size]=c

df.head(5)

/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c
/tmp/ipykernel_6173/3086399440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwÄ™ gÅ‚Ã³wnego miasta (c).
/tmp/ipykernel_6173/3086399440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.borough[size]=c

,date,time,borough,zip_code,latitude,longitude,location,on_street,cross_street,off_street,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collison_id,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2019-08-05T00:00:00.000,16:30,QUEENS,11434,40.676052,-73.790184,"{'type': 'Point', 'coordinates': [-73.790184, ...",NaN,NaN,150-08 123 AVENUE,...,Unspecified,NaN,NaN,NaN,4184637,Sedan,Pick-up Truck,NaN,NaN,NaN
1,2019-08-27T00:00:00.000,16:02,BROOKLYN,11225,40.657780,-73.951096,"{'type': 'Point', 'coordinates': [-73.951096, ...",NaN,NaN,288 HAWTHORNE STREET,...,Unspecified,NaN,NaN,NaN,4195773,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,2019-08-15T00:00:00.000,17:57,MANHATTAN,10002,40.718143,-73.993835,"{'type': 'Point', 'coordinates': [-73.993835, ...",CHRYSTIE STREET,GRAND STREET,NaN,...,NaN,NaN,NaN,NaN,4202457,Sedan,NaN,NaN,NaN,NaN
3,2019-08-30T00:00:00.000,21:53,BRONX,10460,40.840534,-73.866610,"{'type': 'Point', 'coordinates': [-73.86661, 4...",NaN,NaN,1837 EAST TREMONT AVENUE,...,Unspecified,NaN,NaN,NaN,4198749,Taxi,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,2019-08-06T00:00:00.000,9:45,MANHATTAN,10016,40.745440,-73.975400,"{'type': 'Point', 'coordinates': [-73.9754, 40...",EAST 35 STREET,2 AVENUE,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4183798,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN

In [11]:
column_names = df.columns.tolist()
print(column_names)

['date', 'time', 'borough', 'zip_code', 'latitude', 'longitude', 'location', 'on_street', 'cross_street', 'off_street', 'num_persons_injured', 'num_persons_killed', 'num_pedestrians_injured', 'num_pedestrians_killed', 'num_cyclist_injured', 'num_cyclist_killed', 'num_motorist_injured', 'num_motorist_killed', 'contributing_factor_vehicle_1', 'contributing_factor_vehicle_2', 'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4', 'contributing_factor_vehicle_5', 'collison_id', 'vehicle_type_code_1', 'vehicle_type_code_2', 'vehicle_type_code_3', 'vehicle_type_code_4', 'vehicle_type_code_5']

In [12]:
#lista kolumn, ktÃ³re chce zachowaÄ‡
other_cols = ['date', 'time', 'borough', 'zip_code', 'latitude', 'longitude', 'location', 'on_street', 'cross_street', 'off_street', 
              'num_persons_injured', 'num_persons_killed', 'num_pedestrians_injured', 'num_pedestrians_killed', 'num_cyclist_injured', 
              'num_cyclist_killed', 'num_motorist_injured', 'num_motorist_killed', 'contributing_factor_vehicle_1', 
              'contributing_factor_vehicle_2', 'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4', 
              'contributing_factor_vehicle_5', 'collison_id']

In [13]:
#zmieniamy sobie 5 ostatnich kolumn na 'vehicle_type' i 'vehicle_type_name'
tidy_vehicle_info_1 = df.melt(id_vars=other_cols,
                             value_vars = ['vehicle_type_code_1', 'vehicle_type_code_2', 'vehicle_type_code_3', 
              'vehicle_type_code_4', 'vehicle_type_code_5'],
                             var_name = 'vehicle_type',
                             value_name = 'vehicle_type_name')

In [14]:
#usuwamy wszystkie wiersze, w ktÃ³rych wystÄ™puje tylko 'NaN'
tidy_vehicle_info_1.dropna(subset = ['vehicle_type_name'], inplace=True) 
tidy_vehicle_info_1.reset_index(drop=True, inplace=True) 
tidy_vehicle_info_1.head()

,date,time,borough,zip_code,latitude,longitude,location,on_street,cross_street,off_street,...,num_motorist_injured,num_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collison_id,vehicle_type,vehicle_type_name
0,2019-08-05T00:00:00.000,16:30,QUEENS,11434,40.676052,-73.790184,"{'type': 'Point', 'coordinates': [-73.790184, ...",NaN,NaN,150-08 123 AVENUE,...,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4184637,vehicle_type_code_1,Sedan
1,2019-08-27T00:00:00.000,16:02,BROOKLYN,11225,40.657780,-73.951096,"{'type': 'Point', 'coordinates': [-73.951096, ...",NaN,NaN,288 HAWTHORNE STREET,...,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4195773,vehicle_type_code_1,Station Wagon/Sport Utility Vehicle
2,2019-08-15T00:00:00.000,17:57,MANHATTAN,10002,40.718143,-73.993835,"{'type': 'Point', 'coordinates': [-73.993835, ...",CHRYSTIE STREET,GRAND STREET,NaN,...,1,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,4202457,vehicle_type_code_1,Sedan
3,2019-08-30T00:00:00.000,21:53,BRONX,10460,40.840534,-73.866610,"{'type': 'Point', 'coordinates': [-73.86661, 4...",NaN,NaN,1837 EAST TREMONT AVENUE,...,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4198749,vehicle_type_code_1,Taxi
4,2019-08-06T00:00:00.000,9:45,MANHATTAN,10016,40.745440,-73.975400,"{'type': 'Point', 'coordinates': [-73.9754, 40...",EAST 35 STREET,2 AVENUE,NaN,...,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4183798,vehicle_type_code_1,Station Wagon/Sport Utility Vehicle

In [15]:
#Tworzymy nowÄ… listÄ™ contributing_factors
contributing_factors = ['contributing_factor_vehicle_1', 'contributing_factor_vehicle_2',
                        'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4', 
                        'contributing_factor_vehicle_5'] 
#aktualizujemy liste other_cols
other_cols = list(set(other_cols)-set(contributing_factors)) + ['vehicle_type', 'vehicle_type_name'] 
#funcja melt pozwala nam poÅ‚Ä…czyÄ‡ inne kolumny ze sobÄ… 
tidy_contributing_factor = tidy_vehicle_info_1.melt(id_vars=other_cols,
                             value_vars = contributing_factors,
                             var_name = 'contributing_factor_type',
                             value_name = 'contributing_factor_name') 
tidy_contributing_factor.head()

,collison_id,latitude,time,cross_street,num_motorist_killed,borough,num_persons_killed,num_persons_injured,date,num_pedestrians_injured,...,longitude,num_pedestrians_killed,num_cyclist_injured,location,num_motorist_injured,off_street,vehicle_type,vehicle_type_name,contributing_factor_type,contributing_factor_name
0,4184637,40.676052,16:30,NaN,0,QUEENS,0.0,0.0,2019-08-05T00:00:00.000,0,...,-73.790184,0,0,"{'type': 'Point', 'coordinates': [-73.790184, ...",0,150-08 123 AVENUE,vehicle_type_code_1,Sedan,contributing_factor_vehicle_1,Passing Too Closely
1,4195773,40.657780,16:02,NaN,0,BROOKLYN,0.0,0.0,2019-08-27T00:00:00.000,0,...,-73.951096,0,0,"{'type': 'Point', 'coordinates': [-73.951096, ...",0,288 HAWTHORNE STREET,vehicle_type_code_1,Station Wagon/Sport Utility Vehicle,contributing_factor_vehicle_1,Passing Too Closely
2,4202457,40.718143,17:57,GRAND STREET,0,MANHATTAN,0.0,1.0,2019-08-15T00:00:00.000,0,...,-73.993835,0,0,"{'type': 'Point', 'coordinates': [-73.993835, ...",1,NaN,vehicle_type_code_1,Sedan,contributing_factor_vehicle_1,Driver Inattention/Distraction
3,4198749,40.840534,21:53,NaN,0,BRONX,0.0,0.0,2019-08-30T00:00:00.000,0,...,-73.866610,0,0,"{'type': 'Point', 'coordinates': [-73.86661, 4...",0,1837 EAST TREMONT AVENUE,vehicle_type_code_1,Taxi,contributing_factor_vehicle_1,Unspecified
4,4183798,40.745440,9:45,2 AVENUE,0,MANHATTAN,0.0,1.0,2019-08-06T00:00:00.000,0,...,-73.975400,0,1,"{'type': 'Point', 'coordinates': [-73.9754, 40...",0,NaN,vehicle_type_code_1,Station Wagon/Sport Utility Vehicle,contributing_factor_vehicle_1,Driver Inattention/Distraction

In [16]:
#Funcja usuwa wszystkie wiersze z NaN 
tidy_contributing_factor.dropna(subset = ['contributing_factor_name'], inplace=True)
tidy_contributing_factor.reset_index(drop=True, inplace=True)
tidy_contributing_factor.head()

,collison_id,latitude,time,cross_street,num_motorist_killed,borough,num_persons_killed,num_persons_injured,date,num_pedestrians_injured,...,longitude,num_pedestrians_killed,num_cyclist_injured,location,num_motorist_injured,off_street,vehicle_type,vehicle_type_name,contributing_factor_type,contributing_factor_name
0,4184637,40.676052,16:30,NaN,0,QUEENS,0.0,0.0,2019-08-05T00:00:00.000,0,...,-73.790184,0,0,"{'type': 'Point', 'coordinates': [-73.790184, ...",0,150-08 123 AVENUE,vehicle_type_code_1,Sedan,contributing_factor_vehicle_1,Passing Too Closely
1,4195773,40.657780,16:02,NaN,0,BROOKLYN,0.0,0.0,2019-08-27T00:00:00.000,0,...,-73.951096,0,0,"{'type': 'Point', 'coordinates': [-73.951096, ...",0,288 HAWTHORNE STREET,vehicle_type_code_1,Station Wagon/Sport Utility Vehicle,contributing_factor_vehicle_1,Passing Too Closely
2,4202457,40.718143,17:57,GRAND STREET,0,MANHATTAN,0.0,1.0,2019-08-15T00:00:00.000,0,...,-73.993835,0,0,"{'type': 'Point', 'coordinates': [-73.993835, ...",1,NaN,vehicle_type_code_1,Sedan,contributing_factor_vehicle_1,Driver Inattention/Distraction
3,4198749,40.840534,21:53,NaN,0,BRONX,0.0,0.0,2019-08-30T00:00:00.000,0,...,-73.866610,0,0,"{'type': 'Point', 'coordinates': [-73.86661, 4...",0,1837 EAST TREMONT AVENUE,vehicle_type_code_1,Taxi,contributing_factor_vehicle_1,Unspecified
4,4183798,40.745440,9:45,2 AVENUE,0,MANHATTAN,0.0,1.0,2019-08-06T00:00:00.000,0,...,-73.975400,0,1,"{'type': 'Point', 'coordinates': [-73.9754, 40...",0,NaN,vehicle_type_code_1,Station Wagon/Sport Utility Vehicle,contributing_factor_vehicle_1,Driver Inattention/Distraction

In [17]:
#Tworzymy nowÄ… listÄ™, ktÃ³ra zawiera on_street,cross_street,off_street
street_info_cols = ['on_street','cross_street','off_street']

In [18]:
other_cols1 = list(set(other_cols) - set(street_info_cols)) + ['contributing_factor_type','contributing_factor_name']

In [19]:
id_vars_df = tidy_contributing_factor[other_cols1]
melted_dfs = []
for col in street_info_cols:
    melted_df = tidy_contributing_factor[col].reset_index(drop=True)
    melted_df['street_info'] = col 
    melted_df.columns = ['street_name', 'street_info']
    melted_dfs.append(melted_df)
value_vars_df = pd.concat(melted_dfs, ignore_index=True)
tidy_street = pd.concat([id_vars_df, value_vars_df], axis=1)

In [20]:
tidy_street = tidy_street.rename(columns={0: 'street_name'})
tidy_street.head()

,collison_id,latitude,time,num_motorist_killed,vehicle_type_name,borough,num_persons_killed,num_persons_injured,vehicle_type,date,...,num_cyclist_killed,zip_code,longitude,num_pedestrians_killed,num_cyclist_injured,location,num_motorist_injured,contributing_factor_type,contributing_factor_name,street_name
0,4184637.0,40.676052,16:30,0.0,Sedan,QUEENS,0.0,0.0,vehicle_type_code_1,2019-08-05T00:00:00.000,...,0.0,11434,-73.790184,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.790184, ...",0.0,contributing_factor_vehicle_1,Passing Too Closely,NaN
1,4195773.0,40.657780,16:02,0.0,Station Wagon/Sport Utility Vehicle,BROOKLYN,0.0,0.0,vehicle_type_code_1,2019-08-27T00:00:00.000,...,0.0,11225,-73.951096,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.951096, ...",0.0,contributing_factor_vehicle_1,Passing Too Closely,NaN
2,4202457.0,40.718143,17:57,0.0,Sedan,MANHATTAN,0.0,1.0,vehicle_type_code_1,2019-08-15T00:00:00.000,...,0.0,10002,-73.993835,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.993835, ...",1.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,CHRYSTIE STREET
3,4198749.0,40.840534,21:53,0.0,Taxi,BRONX,0.0,0.0,vehicle_type_code_1,2019-08-30T00:00:00.000,...,0.0,10460,-73.866610,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.86661, 4...",0.0,contributing_factor_vehicle_1,Unspecified,NaN
4,4183798.0,40.745440,9:45,0.0,Station Wagon/Sport Utility Vehicle,MANHATTAN,0.0,1.0,vehicle_type_code_1,2019-08-06T00:00:00.000,...,0.0,10016,-73.975400,0.0,1.0,"{'type': 'Point', 'coordinates': [-73.9754, 40...",0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,EAST 35 STREET

In [21]:
tidy_street.dropna(subset = ['street_name'], inplace=True) 
tidy_street.reset_index(drop=True, inplace=True) 
tidy_street.head(50)

,collison_id,latitude,time,num_motorist_killed,vehicle_type_name,borough,num_persons_killed,num_persons_injured,vehicle_type,date,...,num_cyclist_killed,zip_code,longitude,num_pedestrians_killed,num_cyclist_injured,location,num_motorist_injured,contributing_factor_type,contributing_factor_name,street_name
0,4202457.0,40.718143,17:57,0.0,Sedan,MANHATTAN,0.0,1.0,vehicle_type_code_1,2019-08-15T00:00:00.000,...,0.0,10002,-73.993835,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.993835, ...",1.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,CHRYSTIE STREET
1,4183798.0,40.745440,9:45,0.0,Station Wagon/Sport Utility Vehicle,MANHATTAN,0.0,1.0,vehicle_type_code_1,2019-08-06T00:00:00.000,...,0.0,10016,-73.975400,0.0,1.0,"{'type': 'Point', 'coordinates': [-73.9754, 40...",0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,EAST 35 STREET
2,4198571.0,40.667522,2:16,0.0,Sedan,QUEENS,0.0,0.0,vehicle_type_code_1,2019-08-31T00:00:00.000,...,0.0,11434,-73.780630,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.78063, 4...",0.0,contributing_factor_vehicle_1,Unspecified,ROCKAWAY BOULEVARD
3,4187134.0,40.858210,22:23,1.0,Motorcycle,Bronx,1.0,0.0,vehicle_type_code_1,2019-08-11T00:00:00.000,...,0.0,10453,-73.916790,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.91679, 4...",0.0,contributing_factor_vehicle_1,Unsafe Speed,MAJOR DEEGAN EXPRESSWAY
4,4181743.0,40.666492,16:30,0.0,Pick-up Truck,QUEENS,0.0,0.0,vehicle_type_code_1,2019-08-02T00:00:00.000,...,0.0,11434,-73.765360,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.76536, 4...",0.0,contributing_factor_vehicle_1,Reaction to Uninvolved Vehicle,SOUTH CONDUIT AVENUE
5,4198173.0,40.837720,17:30,0.0,Sedan,BRONX,0.0,0.0,vehicle_type_code_1,2019-08-21T00:00:00.000,...,0.0,10452,-73.927630,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.92763, 4...",0.0,contributing_factor_vehicle_1,Unspecified,WEST 167 STREET
6,4192620.0,40.681640,14:25,0.0,Station Wagon/Sport Utility Vehicle,BROOKLYN,0.0,1.0,vehicle_type_code_1,2019-08-20T00:00:00.000,...,0.0,11217,-73.985680,0.0,1.0,"{'type': 'Point', 'coordinates': [-73.98568, 4...",0.0,contributing_factor_vehicle_1,Following Too Closely,NEVINS STREET
7,4192027.0,40.698463,10:30,0.0,Pick-up Truck,BROOKLYN,0.0,0.0,vehicle_type_code_1,2019-08-20T00:00:00.000,...,0.0,11205,-73.960205,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.960205, ...",0.0,contributing_factor_vehicle_1,Passing or Lane Usage Improper,FLUSHING AVENUE
8,4182834.0,40.716652,23:09,0.0,Station Wagon/Sport Utility Vehicle,Kew Gardens,0.0,1.0,vehicle_type_code_1,2019-08-04T00:00:00.000,...,0.0,11415,-73.825900,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.8259, 40...",1.0,contributing_factor_vehicle_1,Following Too Closely,GRAND CENTRAL PKWY
9,4188509.0,40.720890,18:30,0.0,Sedan,MANHATTAN,0.0,0.0,vehicle_type_code_1,2019-08-09T00:00:00.000,...,0.0,10012,-73.995760,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.99576, 4...",0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,KENMARE STREET
10,4185313.0,40.681557,13:25,0.0,Sedan,Brooklyn,0.0,0.0,vehicle_type_code_1,2019-08-07T00:00:00.000,...,0.0,11238,-73.966545,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.966545, ...",0.0,contributing_factor_vehicle_1,Unsafe Lane Changing,ATLANTIC AVENUE
11,4191144.0,40.523136,17:20,0.0,Sedan,STATEN ISLAND,0.0,0.0,vehicle_type_code_1,2019-08-16T00:00:00.000,...,0.0,10309,-74.216250,0.0,0.0,"{'type': 'Point', 'coordinates': [-74.21625, 4...",0.0,contributing_factor_vehicle_1,Other Vehicular,AMBOY ROAD
12,4185461.0,40.616653,16:50,0.0,Station Wagon/Sport Utility Vehicle,BROOKLYN,0.0,0.0,vehicle_type_code_1,2019-08-06T00:00:00.000,...,0.0,11230,-73.972340,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.97234, 4...",0.0,contributing_factor_vehicle_1,Unspecified,AVENUE M
13,4193346.0,40.757107,19:15,0.0,Station Wagon/Sport Utility Vehicle,MANHATTAN,0.0,0.0,vehicle_type_code_1,2019-08-21T00:00:00.000,...,0.0,10018,-73.997314,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.997314, ...",0.0,contributing_factor_vehicle_1,Turning Improperly,WEST 38 STREET
14,4247732.0,40.625843,0:00,0.0,Sedan,BROOKLYN,0.0,0.0,vehicle_type_code_1,2019-11-26T00:00:00.000,...,0.0,11210,-73.955370,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.95537, 4...",0.0,contributing_factor_vehicle_1,Unspecified,AVENUE J
15,4194360.0,40.654220,22:21,0.0,Sedan,BROOKLYN,0.0,3.0,vehicle_type_code_1,2019-08-21T00:00:00.000,...,0.0,11203,-73.923860,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.92386, 4...",3.0,contributing_factor_vehicle_1,Unspecified,LINDEN BOULEVARD
16,4192979.0,40.773663,11:00,0.0,Sedan,QUEENS,0.0,0.0,vehicle_type_code_1,2019-08-20T00:00:00.000,...,0.0,11105,-73.902390,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.90239, 4...",0.0,contributing_factor_vehicle_1,Unspecified,21 AVENUE
17,4197196.0,40.743480,16:00,0.0,Station Wagon/Sport Utility Vehicle,QUEENS,0.0,1.0,vehicle_type_code_1,2019-08-29T00:00:00.000,...,0.0,11104,-73.921486,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.921486, ...",1.0,contributing_factor_vehicle_1,Unspecified,43 STREET
18,4187562.0,40.648376,13:00,0.0,Sedan,BROOKLYN,0.0,0.0,vehicle_type_code_1,2019-08-12T00:00:00.000,...,0.0,11226,-73.965790,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.96579, 4...",0.0,contributing_factor_vehicle_1,Unspecified,MARLBOROUGH ROAD
19,4188162.0,40.713070,13:30,0.0,Sedan,Hollis,0.0,0.0,vehicle_type_code_1,2019-08-12T00:00:00.000,...,0.0,11423,-73.775270,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.77527, 4...",0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,186 STREET
20,4197512.0,40.704853,15:00,0.0,Station Wagon/Sport Utility Vehicle,QUEENS,0.0,1.0,vehicle_type_code_1,2019-08-26T00:00:00.000,...,0.0,11433,-73.791664,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.791664, ...",1.0,contributing_factor_vehicle_1,Brakes Defective,93 AVENUE
21,4192604.0,40.729350,23:30,0.0,Station Wagon/Sport Utility Vehicle,Maspeth,0.0,0.0,vehicle_type_code_1,2019-08-20T00:00:00.000,...,0.0,11378,-73.910194,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.910194, ...",0.0,contributing_factor_vehicle_1,Unsafe Lane Changing,LONG ISLAND EXPRESSWAY
22,4187471.0,40.803960,22:38,0.0,Station Wagon/Sport Utility Vehicle,New York,0.0,0.0,vehicle_type_code_1,2019-08-07T00:00:00.000,...,0.0,10026,-73.948280,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.94828, 4...",0.0,contributing_factor_vehicle_1,Passing Too Closely,WEST 119 STREET
23,4193871.0,40.649860,2:37,0.0,Station Wagon/Sport Utility Vehicle,BROOKLYN,0.0,1.0,vehicle_type_code_1,2019-08-24T00:00:00.000,...,0.0,11232,-74.019720,0.0,0.0,"{'type': 'Point', 'coordinates': [-74.01972, 4...",1.0,contributing_factor_vehicle_1,Unspecified,1 AVENUE
24,4191300.0,40.684624,7:55,0.0,Station Wagon/Sport Utility Vehicle,BROOKLYN,0.0,0.0,vehicle_type_code_1,2019-08-11T00:00:00.000,...,0.0,11221,-73.938380,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.93838, 4...",0.0,contributing_factor_vehicle_1,Unsafe Lane Changing,MARCUS GARVEY BOULEVARD
25,4193804.0,40.534813,15:15,0.0,Pick-up Truck,Staten Island,0.0,1.0,vehicle_type_code_1,2019-08-23T00:00:00.000,...,0.0,10312,-74.194115,0.0,0.0,"{'type': 'Point', 'coordinates': [-74.194115, ...",1.0,contributing_factor_vehicle_1,Drugs (illegal),KOREAN WAR VETS PARKWAY
26,4203814.0,40.818210,14:40,0.0,Sedan,Edgewater,0.0,2.0,vehicle_type_code_1,2019-08-28T00:00:00.000,...,0.0,07020,-73.961440,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.96144, 4...",2.0,contributing_factor_vehicle_1,Reaction to Uninvolved Vehicle,HENRY HUDSON PARKWAY
27,4194489.0,40.578274,15:37,0.0,Sedan,BROOKLYN,0.0,0.0,vehicle_type_code_1,2019-08-23T00:00:00.000,...,0.0,11235,-73.958270,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.95827, 4...",0.0,contributing_factor_vehicle_1,Other Vehicular,BRIGHTON BEACH AVENUE
28,4189488.0,40.676530,12:00,0.0,Bike,Saint Albans,0.0,1.0,vehicle_type_code_1,2019-08-14T00:00:00.000,...,0.0,11412,-73.756930,0.0,1.0,"{'type': 'Point', 'coordinates': [-73.75693, 4...",0.0,contributing_factor_vehicle_1,Unspecified,137 AVENUE
29,4181981.0,40.688410,12:45,0.0,Sedan,QUEENS,0.0,1.0,vehicle_type_code_1,2019-08-03T00:00:00.000,...,0.0,11421,-73.847940,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.84794, 4...",1.0,contributing_factor_vehicle_1,Pavement Defective,95 STREET
30,4188184.0,40.696663,0:05,0.0,Tractor Truck Diesel,Brooklyn,0.0,0.0,vehicle_type_code_1,2019-08-13T00:00:00.000,...,0.0,11240,-73.980850,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.98085, 4...",0.0,contributing_factor_vehicle_1,Unsafe Lane Changing,BROOKLYN QUEENS EXPRESSWAY
31,4196580.0,40.769333,10:00,0.0,Bus,Flushing,0.0,1.0,vehicle_type_code_1,2019-08-29T00:00:00.000,...,0.0,11354,-73.841736,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.841736, ...",1.0,contributing_factor_vehicle_1,Passing or Lane Usage Improper,COLLEGE POINT BOULEVARD
32,4190123.0,40.756367,14:00,0.0,Sedan,New York,0.0,0.0,vehicle_type_code_1,2019-08-17T00:00:00.000,...,0.0,10065,-73.960120,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.96012, 4...",0.0,contributing_factor_vehicle_1,Lane Marking Improper/Inadequate,FDR DRIVE
33,4182553.0,40.782055,21:00,0.0,Taxi,MANHATTAN,0.0,0.0,vehicle_type_code_1,2019-08-03T00:00:00.000,...,0.0,10128,-73.953730,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.95373, 4...",0.0,contributing_factor_vehicle_1,Unspecified,LEXINGTON AVENUE
34,4188570.0,40.724552,11:30,0.0,Sedan,Queens Village,0.0,0.0,vehicle_type_code_1,2019-08-14T00:00:00.000,...,0.0,11428,-73.724520,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.72452, 4...",0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,CROSS ISLAND PARKWAY
35,4193228.0,40.593327,10:28,0.0,Station Wagon/Sport Utility Vehicle,Brooklyn,0.0,0.0,vehicle_type_code_1,2019-08-22T00:00:00.000,...,0.0,11223,-73.964645,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.964645, ...",0.0,contributing_factor_vehicle_1,Passing or Lane Usage Improper,OCEAN PARKWAY
36,4191282.0,40.615383,8:53,0.0,Sedan,BROOKLYN,0.0,0.0,vehicle_type_code_1,2019-08-17T00:00:00.000,...,0.0,11228,-74.016130,0.0,0.0,"{'type': 'Point', 'coordinates': [-74.01613, 4...",0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,86 STREET
37,4184960.0,40.584930,15:33,0.0,Sedan,Brooklyn,0.0,1.0,vehicle_type_code_1,2019-08-07T00:00:00.000,...,0.0,11235,-73.952690,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.95269, 4...",1.0,contributing_factor_vehicle_1,Following Too Closely,BELT PARKWAY
38,4193449.0,40.740730,6:31,0.0,Sedan,MANHATTAN,0.0,0.0,vehicle_type_code_1,2019-08-23T00:00:00.000,...,0.0,10010,-73.981766,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.981766, ...",0.0,contributing_factor_vehicle_1,Unspecified,3 AVENUE
39,4193284.0,40.809563,0:00,0.0,Taxi,Bronx,0.0,0.0,vehicle_type_code_1,2019-08-23T00:00:00.000,...,0.0,10454,-73.929230,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.92923, 4...",0.0,contributing_factor_vehicle_1,Unspecified,3 AVENUE
40,4196293.0,40.661522,8:00,0.0,Station Wagon/Sport Utility Vehicle,Brooklyn,0.0,0.0,vehicle_type_code_1,2019-08-28T00:00:00.000,...,0.0,11232,-74.000080,0.0,0.0,"{'type': 'Point', 'coordinates': [-74.00008, 4...",0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,GOWANUS EXPY (BQE)
41,4193103.0,40.651363,18:50,0.0,Sedan,BROOKLYN,0.0,1.0,vehicle_type_code_1,2019-08-21T00:00:00.000,...,0.0,11226,-73.963450,0.0,1.0,"{'type': 'Point', 'coordinates': [-73.96345, 4...",0.0,contributing_factor_vehicle_1,Unspecified,CATON AVENUE
42,4186155.0,40.666695,7:50,0.0,Station Wagon/Sport Utility Vehicle,QUEENS,0.0,0.0,vehicle_type_code_1,2019-08-10T00:00:00.000,...,0.0,11434,-73.767136,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.767136, ...",0.0,contributing_factor_vehicle_1,Unsafe Lane Changing,SOUTH CONDUIT AVENUE
43,4197604.0,40.676327,8:17,0.0,Station Wagon/Sport Utility Vehicle,BROOKLYN,0.0,0.0,vehicle_type_code_1,2019-08-29T00:00:00.000,...,0.0,11208,-73.865470,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.86547, 4...",0.0,contributing_factor_vehicle_1,Unspecified,GRANT AVENUE
44,4183961.0,40.852650,1:45,0.0,Box Truck,BRONX,0.0,0.0,vehicle_type_code_1,2019-08-04T00:00:00.000,...,0.0,10461,-73.842310,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.84231, 4...",0.0,contributing_factor_vehicle_1,Reaction to Uninvolved Vehicle,BASSETT AVENUE
45,4184513.0,40.672382,7:00,0.0,Sedan,QUEENS,0.0,2.0,vehicle_type_code_1,2019-08-07T00:00:00.000,...,0.0,11434,-73.785740,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.78574, 4...",2.0,contributing_factor_vehicle_1,Unspecified,ROCKAWAY BOULEVARD
46,4196881.0,40.700054,18:36,0.0,Station Wagon/Sport Utility Vehicle,Brooklyn,0.0,0.0,vehicle_type_code_1,2019-08-28T00:00:00.000,...,0.0,11237,-73.924590,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.92459, 4...",0.0,contributing_factor_vehicle_1,Traffic Control Disregarded,HART STREET
47,4183557.0,40.751990,12:00,0.0,Sedan,QUEENS,0.0,0.0,vehicle_type_code_1,2019-08-05T00:00:00.000,...,0.0,11101,-73.931274,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.931274, ...",0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,NORTHERN BOULEVARD
48,4196918.0,40.669273,14:38,0.0,Sedan,Brooklyn,0.0,0.0,vehicle_type_code_1,2019-08-27T00:00:00.000,...,0.0,11233,-73.922554,0.0,0.0,"{'type': 'Point', 'coordinates': [-73.922554, ...",0.0,contributing_factor_vehicle_1,Unspecified,LINCOLN PLACE
49,4190301.0,40.570465,12:00,0.0,Station Wagon/Sport Utility Vehicle,STATEN ISLAND,0.0,1.0,vehicle_type_code_1,2019-08-18T00:00:00.000,...,0.0,10306,-74.109770,0.0,0.0,"{'type': 'Point', 'coordinates': [-74.10977, 4...",1.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,HYLAN BOULEVARD

In [22]:
tidy_street.shape

(9200435, 21)

In [23]:
tidy_street = tidy_street[tidy_street["street_name"].str.strip() != '']
tidy_street.shape

(9199692, 21)

In [49]:
tidy_street.to_csv('cleaned_data.csv', index=False)

In [47]:
print(tidy_street.columns)

Index(['num_pedestrians_killed', 'zip_code', 'num_pedestrians_injured',
       'num_cyclist_killed', 'borough', 'num_persons_injured', 'collison_id',
       'num_motorist_killed', 'location', 'vehicle_type',
       'num_cyclist_injured', 'num_motorist_injured', 'date',
       'num_persons_killed', 'latitude', 'time', 'vehicle_type_name',
       'longitude', 'contributing_factor_type', 'contributing_factor_name',
       'street_name'],
      dtype='object')